header{
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: right;
}

header button{
    height: 100%;
    width: 10%;
    background: none;
    color: rgb(230, 230, 230);
    border: none;
}

header button:hover{
    background: rgba(0, 0, 0, 0.3);
}
.homeContainer{
  width: 100%;
  height: 100vh;
  background-image:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("images/pizza-z-grilla-przepis-na-ciasto-i-sposob-pieczenia-01.jpg");
  background-size: cover;
}

.menuContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuBox{
    height: 80%;
    width: 85%;
    background: rgba(0, 0, 0, 0.5);

}