.homeContainer{
  width: 100%;
  height: 100vh;
  background-image:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("images/pizza-z-grilla-przepis-na-ciasto-i-sposob-pieczenia-01.jpg");
  background-size: cover;
}